/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body{
  background-color: #1c2120;
}
/* FONTS */
.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.league-spartan-500 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}


/* NAVBAR */

header{
  color: white !important;
  background-color: #1c2120 !important;
}

nav a, li{
  color: white !important;
  /* font-size: 1.5rem !important; */
  font-size: calc(0.8em + 0.8vw) !important;
}

header .logo{
  height: 6rem;
  width: 6rem;
}

header .mobile-logo img{
  height: 10vw;
  width: 10vw;
}

.active{
  padding: 3px 25px !important;
  background-color: #fcbc01;
  border-radius: 25px;
}

/* HOMEPAGE */
.carousels{
  height: 250px;
  width: 100%;
  background-image: url("./Assets/mc_bg3.png");
  /* display: flex; */
  /* justify-content: center; */
  /* border-radius: 15px; */
  /* flex-wrap: wrap; */
  display: block;
  align-items: center;
  color: ghostwhite;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.carousels h1{
  font-size: calc(2em + 1.3vw);
}

.carousels span{
  /* font-family: 'Gagalin', "Acme"; */
  font-weight: 800 !important;
  color: #fcbc01;
}

.home-about h2{
  color: #fcbc01;
  font-weight: 800;
}

.home-about h6{
  color: whitesmoke;
  font-weight: 400;
  font-size: calc(0.5em + 0.8vw);
}

.home-about h4{
  font-size: calc(0.6em + 0.8vw) !important;
  color: white;
}

/* STORE PAGE */

.store-page h1{
  color: #fcbc01;
  font-size: calc(2.2em + 1.5vw) !important;
}

.store-page select:focus{
  box-shadow: none;
  /* border: none; */
}

/* .store-page option{
  background-color: #fcbc01 !important;
} */

  /* .store-page option:hover{
    color: rebeccapurple;
    box-shadow: #fcbc01;
    background-color: red !important;
  } */

.store-items .item-card{
  border: 1px solid white;
  /* border: 1px solid ghostwhite; */
  /* background-color: rgba(252, 189, 1, 0.2); */
  /* background-color: rgba(255, 255, 255, 0.4); */
  /* background-color: #bababa; */
  /* color: #fcbc01 !important; */
    color:#1c2120;
  /* background-color: white; */
  /* -webkit-box-shadow: 14px 13px 6px -11px rgba(106,107,107,1);
  -moz-box-shadow: 14px 13px 6px -11px rgba(106,107,107,1);
  box-shadow: 14px 13px 6px -11px rgba(106,107,107,1); */
}

.store-items .item-card img{
  height: calc(3em + 6vw);
  width: calc(4em + 6vw);
  border-radius: 0;
}

.store-items button{
  /* background-color: #fcbc01 !important; */
  background-color: #1c2120;
  color: white;
  border: none;
}
.cart-button button{
  background-color: #fcbc01;
  border: none;
  color: white;
  /* font-size: 1.1vw; */
}

.cart-button button:hover{
  background-color: ghostwhite;
  color: #fcbc01;
} 

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #fcbc01;
}
#lblCartCount {
    font-size: calc(0.5em + 0.3vw);
    background: #ff0000;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: -6px; 
}

/* FOOTER */

.footer{
  font-family: "Acme", sans-serif;
  color: whitesmoke;
}

.footer h5{
  font-size: calc(0.6em + 1vw);
  color: #a7a7a7;
  font-weight: 700;
}

.footer h6{
  font-size: calc(0.3em + 1vw);
  color: #767676;
}

.footer .footer-nav a{
  
  color: #767676;
  text-decoration: none;
  font-size: calc(0.3em + 0.9vw);
}

.footer .footer-icons a{
  font-size: calc(0.5em + 1vw);
  color: #767676;
}